{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>SCTCE Election 2020</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href="{% static 'styles/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'styles/style.css'%}">
</head>

<body>
    {% block content %}

    {% endblock content %}
    <script src="{% static 'js/jquery.min.js'%}"></script>
    <script src="{% static 'js/bootstrap.min.js'%}"></script>
    <script src="{% static 'js/jquery.easing.min.js'%}"></script>
    <script src="{% static 'js/script.js'%}"></script>
</body>

</html>